.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  font-variant: small-caps;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em;
  font-weight: 900; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }
